@charset "UTF-8";
@font-face {
  font-family: "Boska Regular";
  src: url(./fonts/Boska-Regular.otf);
}
@font-face {
  font-family: "Northwell";
  src: url(./fonts/Northwell.otf);
}
body {
  overflow-x: hidden;
}
body h1 {
  font-size: 80px;
  color: #59200C;
  font-family: "Boska Regular";
  text-align: center;
}
body span {
  font-family: "Northwell";
  color: #E04015;
}

.first-block {
  background-image: url(../images/reservation-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 755px;
}
.first-block p {
  color: #59200C;
  font-family: "Boska Regular";
  font-size: 80px;
}
.first-block a img {
  width: 60%;
}

#logo {
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 80%;
  width: unset;
}

.navbar-expand-sm .navbar-nav .nav-link {
  color: #59200C;
}

.services {
  height: 700px;
  background-color: #FAF4E8;
  position: relative;
}
.services .collapsible {
  background-color: #E04015;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}
.services .active, .services .collapsible:hover {
  background-color: #a22907;
}
.services .collapsible:after {
  content: "+";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.services .active:after {
  content: "−";
}
.services .content {
  width: 70%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
.services .content .block {
  display: flex;
  padding: 10px;
}
.services .content img {
  width: 205px;
  height: 205px;
  padding: 10px;
}
.services .content strong {
  color: #59200C;
  font-family: "Boska Regular";
  font-size: 30px;
}
.services .content p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #666666;
  padding-top: 10px;
  padding-left: 20px;
}
.services .content span {
  font-size: 34px;
}
.services .serv-container {
  position: absolute;
  left: 15%;
  width: 100%;
}

.button {
  align-self: flex-end;
  width: 100px;
  height: 50px;
  position: relative;
  border: none;
  padding: 8px 28px;
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 144px;
  color: white;
  background: #E04015;
  transform: scale(var(--scale, 1));
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}
.button:active {
  --scale: .95;
}
.button span {
  font-family: "Inter", sans-serif;
  font-size: 13px !important;
  color: white;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  transform: translateY(var(--span-y, 0));
  transition: transform 0.7s ease;
}
.button span:before, .button span:after {
  content: "";
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  transition: transform 0.65s ease 0.05s;
}
.button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}
.button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
}
.button .cart:before, .button .cart:after {
  content: "";
  position: absolute;
}
.button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;
  bottom: 0;
  left: 9px;
  filter: drop-shadow(11px 0 0 white);
}
.button .cart:after {
  width: 16px;
  height: 9px;
  background: white;
  left: 9px;
  bottom: 7px;
  transform-origin: 50% 100%;
  transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  transition: transform 1.2s ease var(--fill-d);
}
.button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button .cart svg polyline:last-child {
  stroke: #E04015;
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  transition: stroke-dashoffset 0.4s ease var(--offset-d);
}
.button.loading {
  --scale: .95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: .8s;
  --offset: 0;
  --offset-d: 1.73s;
}
.button.loading .cart {
  animation: cart 3.4s linear forwards 0.2s;
}

@keyframes cart {
  12.5% {
    transform: translateX(-60px) rotate(-18deg);
  }
  25%, 45%, 55%, 75% {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  44%, 56% {
    transform-origin: 12px 23px;
  }
  45%, 55% {
    transform-origin: 50% 50%;
  }
  87.5% {
    transform: translateX(70px) rotate(-18deg);
  }
  100% {
    transform: translateX(140px) rotate(-18deg);
  }
}
footer {
  background-color: #FAF4E8;
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  gap: 40px;
}
footer .logotype {
  width: 250px;
  height: 140px;
  position: absolute;
  left: 0;
  top: 1%;
}
footer ul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #E04015;
}
footer * {
  padding-top: 2%;
  font-size: 18px;
  color: #59200C;
  font-family: "Inter", sans-serif;
}
footer .quick-links {
  margin-left: 100px;
}
footer .contact-info li {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=reservation.css.map */
