@font-face {
    font-family: "Boska Regular";
    src: url(./fonts/Boska-Regular.otf);
}

@font-face {
    font-family: "Northwell";
    src: url(./fonts/Northwell.otf);
}

$inter: 'Inter', sans-serif;
$boska: "Boska Regular";
$northwell: "Northwell";
$orange: #E04015;
$gray: #666666;
$brown: #59200C;
$beige:#FAF4E8;

.first-block {
    background-image: url(../images/service-item-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 755px;
    p {
        color: $beige;
        font-family: $boska;
        font-size: 80px;
    }

    #cart img{
        width: 60%;
    }
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: $beige;
}

#logo {
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 80%;
}

.first-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
    }

    img{
        width: 70%;
    }

    
}

.service-block {
    height: 800px;
    background-color: $beige;
    position: relative;
     
    * {
        position: absolute;
    }

    img {
        width: 500px;
        height: 320px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        right: 5%;
        top: 7%;
    }

    h1 {
        text-transform: uppercase;
        font-size: 100px;
        font-family: $northwell;
        color: $orange;
        width: 40%;
        top: 12%;
        width: 50%;
        text-align: center;
        margin: auto;
    }

    p {
        font-family: $inter;
        color: $gray;
        font-size: 24px;
        width: 55%;
        top: 30%;
    }

    button {
        width: 250px;
        height: 55px;
        background-color: transparent;
        border: 2px solid #E04015;
        color: #59200C;
        font-size: 18px;
        font-family: "Inter", sans-serif;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

footer {
    background-color: $beige;
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    gap: 40px;
    
    .logotype {
        width: 250px;
        height: 140px;
        position: absolute;
        left: 0;
        top: 1%;
    }
    
    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: var(--mainWheat);
    }
    
    a:hover {
        text-decoration: underline;
        color: var(--customOrange);
    }
    
    * {
        padding-top: 2%;
        font-size: 18px;
        color: $brown;
        font-family: $inter;
    }

    .quick-links {
        margin-left: 100px;
    }
    
    .contact-info li{
        display: flex;
        align-items: center;
    }
}