@font-face {
  font-family: "Boska Regular";
  src: url(./fonts/Boska-Regular.otf);
}
@font-face {
  font-family: "Northwell";
  src: url(./fonts/Northwell.otf);
}
body {
  overflow-x: hidden;
}
body h1 {
  font-size: 80px;
  color: #59200C;
  font-family: "Boska Regular";
  text-align: center;
}
body span {
  font-family: "Northwell";
  color: #E04015;
}

.first-block {
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-block p {
  color: white;
  font-family: "Boska Regular";
  font-size: 80px;
}
.first-block #cart img {
  width: 60%;
}

.navbar a {
  color: white;
  font-family: "Inter", sans-serif;
}
.navbar a:hover {
  color: #E04015;
}

#logo {
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 80%;
}

.first-block-text {
  display: flex;
  align-items: center;
}
.first-block-text button {
  width: 400px;
  height: 70px;
  background-color: transparent;
  border: 1px solid #E04015;
  color: white;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  align-self: flex-end;
  transform: translate(-300px, -50px);
}
.first-block-text span {
  font-size: 85px;
}

.about {
  height: 1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.about p {
  color: #666666;
  width: 50%;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  position: absolute;
  left: 5%;
  top: 40%;
}
.about h1:nth-of-type(2) {
  position: absolute;
  top: 23%;
  left: 10%;
}
.about #back-rectangle {
  width: 700px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 10%;
}
.about #couple {
  height: 60%;
  align-self: flex-end;
  position: absolute;
  top: 35%;
  right: 3%;
  border-radius: 10px;
}
.about #frame {
  height: 50%;
  position: absolute;
  top: 47%;
  right: 4%;
}
.about #circle-text {
  width: 10%;
  position: absolute;
  right: 46%;
  top: 20%;
}
.about span {
  font-size: 30px;
}

.services {
  height: 1100px;
  background-color: #FAF4E8;
}
.services span {
  font-size: 86px;
}
.services .services-wrapper {
  display: grid;
  width: 65%;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  left: 0;
  right: 0;
  margin: auto;
  row-gap: 40px;
  align-items: center;
  text-align: center;
}
.services .services_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .services_item img {
  width: 240px;
  height: 360px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.services .services_item a {
  text-decoration: none;
  color: #59200C;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
}
.services .services_item img:hover ~ a,
.services .services_item a:hover {
  text-decoration: underline;
  text-decoration-color: #E04015;
}

.reviews {
  height: 770px;
  position: relative;
}

#line {
  position: absolute;
  left: 0;
  top: 18%;
}

.testimonial_img img {
  width: 211px;
  height: 216px;
  position: absolute;
  -webkit-transform: translateY(-120px) translateX(-120px);
  -ms-transform: translateY(-120px) translateX(-120px);
  transform: translateY(-100px) translateX(-120px);
}

.testimonial_img:before {
  border-left: 6px solid #E04015;
  border-top: 6px solid #E04015;
  content: "";
  height: 90px;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-120px) translateY(-120px) scale(1);
  -ms-transform: translateX(-120px) translateY(-120px) scale(1);
  transform: translateX(-120px) translateY(-120px) scale(1);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 90px;
  z-index: 1;
}

.testimonial_content {
  margin-left: 140px;
  position: relative;
  z-index: 2;
}
.testimonial_content .testimonial_content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.testimonial_content .testimonial_content_item ul li {
  color: #fdcb19;
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
}
.testimonial_content .testimonial_content_item h4 {
  color: #59200C;
  font-family: "Boska Regular";
  font-size: 30px;
}
.testimonial_content .testimonial_content_item p {
  font-family: "Inter", sans-serif;
  color: #666666;
}

.carousel-item {
  -webkit-box-shadow: 0 12px 38px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 38px 0 rgba(0, 0, 0, 0.1);
  padding: 80px 60px;
  position: relative;
  margin-bottom: 50px;
  margin-left: 60px;
  height: 400px;
  background-color: #FAF4E8;
}

.carousel-inner {
  overflow: visible;
}

.carousel-indicators li {
  height: 10px;
}

.carousel-indicators li.active {
  background-color: red;
}

.carousel-indicators {
  bottom: unset;
}

.stars {
  width: 40%;
  position: absolute;
  right: 6%;
  top: 3%;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #E04015;
}

#rectangle {
  position: absolute;
  right: 20%;
  height: 50%;
  top: 35%;
}

#rating {
  position: absolute;
  right: 2%;
  height: 20%;
  top: 12%;
}

.location {
  height: 770px;
  position: relative;
}
.location * {
  position: absolute;
  z-index: 10;
}
.location h1 {
  right: 10%;
  top: 5%;
}
.location img:not(#back),
.location img:not(#rectangle-image) {
  height: 70%;
}
.location #woman {
  left: 10%;
  top: 20%;
  border-radius: 10px;
}
.location #rectangle-image {
  left: 6%;
  height: 60% !important;
  top: 17%;
}
.location p:first-of-type {
  font-family: "Boska Regular";
  color: #E04015;
  top: 20%;
  font-size: 36px;
}
.location p {
  font-family: "Inter", sans-serif;
  color: #666666;
  width: 50%;
  right: 5%;
  top: 28%;
  font-size: 24px;
}
.location img:nth-of-type(4) {
  height: 26% !important;
  bottom: 10%;
  right: 20%;
}
.location a {
  position: unset;
}
.location a img {
  height: 13% !important;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#back {
  width: 100%;
  position: absolute;
  z-index: 5;
}

footer {
  background-color: #FAF4E8;
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  gap: 40px;
}
footer .logotype {
  width: 250px;
  height: 140px;
  position: absolute;
  left: 0;
  top: 1%;
}
footer ul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer * {
  padding-top: 2%;
  font-size: 18px;
  color: #59200C;
  font-family: "Inter", sans-serif;
}
footer .quick-links {
  margin-left: 100px;
}
footer .contact-info li {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
